body{
background-image:url(images/bg.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}

span{
font-size:200%;
} 
.text-large{
color: #000000;
font-size: 140%;
font-weight:800;
opacity:1;
}

.dz{
color:#FF3C3C;
font-size:87.5%;
opacity:1;
}

.pr{
color: #000000;
font-size:112.5%;
}

.c{
text-align:center;
}

.row{
padding-left:25%;
padding-right:25%;
text-align:left;
}

.data{
font-size:150%;
font-weight:800;
}

.bg{
margin:12%;
margin-bottom:15px;
margin-top:15px;
background-color:#FFFFFF;
width:70%;
height:1200%;
opacity:0.8;
padding:15px;
}

.shrift{
font-family:'Comic Sans MS';
}

.dz:hover{
font-size:100%;
font-weight:600;
opacity:1;
}
