
body{
background-image:url(images/bg.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment:fixed;
}


.text-large{
color: #000000;
font-size: 140%;
font-weight:800;
opacity:1;
}

.silka{
color:#FF73EA;
font-size:120%;
}

.dz{
color:#FF3C3C;
font-size:87.5%;
opacity:1;
}

.pr{
color: #000000;
font-size:112.5%;
}

.c{
text-align:center;
}

.row{
padding:auto;
margin:auto;
text-align:left;
width:200px
}

.data{
font-size:150%;
font-weight:800;
}

.bg{
margin:auto;
margin-bottom:15px;
margin-top:15px;
background-color:#FFFFFF;
width:70%;
height:auto;
opacity:0.7;
padding:15px;
}

.shrift{
font-family:'Comic Sans MS';
}

.dz:hover{
font-size:100%;
font-weight:600;
opacity:1;
}

.warning{
color:#A60800;
font-size:140%;
font-weight:800;
}

.rotate-left{
transform:rotate(-90deg);
}

ul.spisok{
margin:auto;
padding:4px;
background-color:rgba(240,138,75,0.3);
border-radius:30px;
width:350px;
}

ul.spisok li{
display:inline;
margin-right:5px;
padding:3px;
}

.stdn{
text-decoration:none;
}

.c-red-sil{
color:#F0384B;
}

.fix{
position:fixed;
}
